// @import '../../../node_modules/slick-carousel/slick/slick.scss';

.products__slider{
    position: relative;
    padding: 0 60px;
}
.products__slider-img{
    width: 140px;
    height: 265px;
    @media screen and (min-width: 1200px) {
            width: 238px;
            height: 450px;
        }
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Точки (булиты) */
.slick-dots {
    display: flex;
    justify-content: space-evenly;
    @media screen and (min-width: 1200px) {
            justify-content: center;
        }
}

.slick-dots li {
    list-style: none;
    @media screen and (min-width: 1200px) {
        &:not(:last-child){
            margin-right: 20px;
        }
        }
}

/* Активная точка */
.slick-dots li.slick-active button {
    background: #E25E5E;
}

/* Элемент точки */
.slick-dots li button {
    border: 1px solid #E25E5E;
    font-size: 0;
    width: 10px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
}

.products__slider .slick-slide{
    display: flex;
    justify-content: center;
}

.products__slider .slick-arrow{
    padding: 0;
    position: absolute;
    top: 50%;
    margin: -25px 0 0 0;
    z-index: 5;
    font-size: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: #E25E5E;
}
.products__slider .slick-arrow.slick-disabled{
    background-color: #c9c8c8;
}
.products__slider .slick-arrow.slick-prev{
    background-image: url('../../img/Vector.svg');
    background-repeat: no-repeat;
    background-position: 43%, 50%;
    left: 0;
}
.products__slider .slick-arrow.slick-next{
    background-image: url('../../img/Vector-prev.svg');
    background-repeat: no-repeat;
    background-position: 53%, 50%;
    right: 0;
}
// ++++++++++++++++++++++++++++++++++++++++++++++++

// Шпаргалка имён класcов

// /* Слайдер */
// .slick-slider {}

// /* Слайдер запущен */
// .slick-slider.slick-initialized {}

// /* Слайдер с точками */
// .slick-slider.slick-dotted {}

// /* Ограничивающая оболочка */
// .slick-list {}

// /* Лента слайдов */
// .slick-track {}

// /* Слайд */
// .slick-slide {}

// /* Слайд активный (показывается) */
// .slick-slide.slick-active {}

// /* Слайд основной */
// .slick-slide.slick-current {}

// /* Слайд по центру */
// .slick-slide.slick-center {}

// /* Клонированный слайд */
// .slick-slide.slick-cloned {}

// /* Стрелка */
// .slick-arrow {}

// /* Стрелка влево */
// .slick-arrow.slick-prev {}

// /* Стрелка вправо */
// .slick-arrow.slick-next {}

// /* Стрелка не активная */
// .slick-arrow.slick-disabled {}

// /* Точки (булиты) */
// .slick-dots {}

// .slick-dots li {}

// /* Активная точка */
// .slick-dots li.slick-active {}

// /* Элемент точки */
// .slick-dots li button {}